* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
    margin: 50px;
    background-color: rgb(70, 70, 70);
    text-align: center;
  }
  ul{
    list-style-type: none;
  }
  
  #target{
    min-height: 300px;
    display: flex;
    justify-content: space-evenly;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .select {
    width: 100%;
    margin: 0 0 20px;
  }
  .select label{
    color: white;
    font-size: 20px;
  }
  
  .album{
    width: 250px;
    margin: 0 20px 10px;
    color: white;
    overflow: hidden;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
  
  .album img{
    height: 250px;
    width: 100%;
  }
  
  .album li{
    padding: 5px 0;
  }
  .album li:first-child{
    border-bottom: 1px solid white;
  }

  .album h2{
    text-shadow: 0 0 2px darkorchid, 0 0 2px darkorchid, 0 0 2px darkorchid;
  }
  
  .album h4{
    /* color: tomato; */
    font-style: italic;
    font-weight: lighter;
    display: inline-block;
    text-shadow: 0 0 2px tomato, 0 0 2px tomato, 0 0 2px tomato;
  }